---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'solarized' }}",
  "minima/initialize";

minima:
  skin: solarized

body {
  font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.inner {
  max-width: 100%;
}
